@audienseco:registry=https://npm.pkg.github.com/audienseco
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# Resolve peer conflict: playground uses React 19, @audienseco/titan-react expects React 18
legacy-peer-deps=true
